.LoginPage {
  margin: 200px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .LoginCard {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
