.LoginPage {
  width: 100%;
  display: flex;
  // margin: 100px -100px auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 100px;

  .LoginCard {
    max-width: 663px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    margin: 0 auto;

    h2 {
      font-family: Poppins;
      font-size: 35px;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: -0.04em;
      text-align: left;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;

      input {
        padding: 10px 20px;
        background-color: #f5f5f5;
        border: none;
        width: 382px;
        font-family: Poppins;
        font-size: 17px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0.07em;
        text-align: left;
      }
      button {
        width: 382px;
        padding: 15px 20px;
        background-color: #6c5fbc;
        color: #f5f5f5;
        border-radius: 15px;
        border: none;
      }
    }

    p {
      font-family: Poppins;
      font-size: 19px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0.01em;
      text-align: left;

      font-family: Poppins;
      font-size: 19px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.01em;
      text-align: left;

      a {
        font-family: Poppins;
        font-size: 19px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #6c5fbc;
        text-decoration: none;
      }
    }

    .LoginFooter {
      display: flex;
      gap: 200px;
    }
  }

  .LoginBrand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 663px;
    background-color: #6c5fbc;
    height: 100vh;
    padding: 0 60px;

    h2 {
      //styleName: Heading/H2;
      font-family: Manrope;
      font-size: 40px;
      font-weight: 800;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: center;
      color: #f5f5f5;
    }

    p {
      //styleName: body/medium/medium;
      font-family: Manrope;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0.20000000298023224px;
      text-align: center;
      color: #f5f5f5;
    }
  }
}
@media screen and (min-width: 678px) and (max-width: 1024px) {
  .LoginPage {
    width: 100%;
    display: flex;
    margin: 102px -30px auto;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

    .LoginCard {
      max-width: 553px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      height: 100vh;
      margin: 0 auto;

      h2 {
        font-family: Poppins;
        font-size: 35px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.04em;
        text-align: left;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        input {
          padding: 10px 20px;
          background-color: #f5f5f5;
          border: none;
          width: 271px;
          font-family: Poppins;
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: 0.07em;
          text-align: left;
        }
        button {
          width: 271px;
          padding: 15px 20px;
          background-color: #6c5fbc;
          color: #f5f5f5;
          border-radius: 15px;
          border: none;
        }
      }

      p {
        font-family: Poppins;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.01em;
        text-align: left;

        a {
          font-family: Poppins;
          font-size: 13px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.01em;
          text-align: left;
          color: #6c5fbc;
          text-decoration: none;
        }
      }

      .LoginFooter {
        display: flex;
        gap: 80px;
      }
    }

    .LoginBrand {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 450px;
      background-color: #6c5fbc;
      min-height: 100%;
      padding: 0 60px;

      img {
        max-width: 381px;
      }

      h2 {
        //styleName: Heading/H2;
        font-family: Manrope;
        font-size: 28px;
        font-weight: 800;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: center;

        text-align: center;
        color: #f5f5f5;
      }

      p {
        //styleName: body/medium/medium;
        font-family: Manrope;
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0.14222221076488495px;
        text-align: center;

        color: #f5f5f5;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .LoginPage {
    width: 100%;
    display: flex;
    // margin:  -30px auto;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 102px auto;

    .LoginCard {
      max-width: 553px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      height: 100vh;
      margin: 0 auto;

      h2 {
        font-family: Poppins;
        font-size: 35px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.04em;
        text-align: left;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        input {
          padding: 10px 20px;
          background-color: #f5f5f5;
          border: none;
          width: 271px;
          font-family: Poppins;
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: 0.07em;
          text-align: left;
        }
        button {
          width: 271px;
          padding: 15px 20px;
          background-color: #6c5fbc;
          color: #f5f5f5;
          border-radius: 15px;
          border: none;
        }
      }

      p {
        font-family: Poppins;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.01em;
        text-align: left;

        a {
          font-family: Poppins;
          font-size: 13px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.01em;
          text-align: left;
          color: #6c5fbc;
          text-decoration: none;
        }
      }

      .LoginFooter {
        display: flex;
        gap: 80px;
      }
    }

    .LoginBrand {
      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 450px;
      background-color: #6c5fbc;
      min-height: 100%;
      padding: 0 60px;

      img {
        max-width: 381px;
      }

      h2 {
        //styleName: Heading/H2;
        font-family: Manrope;
        font-size: 28px;
        font-weight: 800;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: center;

        text-align: center;
        color: #f5f5f5;
      }

      p {
        //styleName: body/medium/medium;
        font-family: Manrope;
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0.14222221076488495px;
        text-align: center;

        color: #f5f5f5;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .LoginPage {
    width: 100%;
    display: flex;
    // margin:  -30px auto;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 102px auto;

    .LoginCard {
      max-width: 553px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      height: 100vh;
      margin: 0 auto;

      h2 {
        font-family: Poppins;
        font-size: 35px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.04em;
        text-align: left;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        input {
          padding: 10px 20px;
          background-color: #f5f5f5;
          border: none;
          width: 271px;
          font-family: Poppins;
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: 0.07em;
          text-align: left;
        }
        button {
          width: 271px;
          padding: 15px 20px;
          background-color: #6c5fbc;
          color: #f5f5f5;
          border-radius: 15px;
          border: none;
        }
      }

      p {
        font-family: Poppins;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.01em;
        text-align: left;

        a {
          font-family: Poppins;
          font-size: 13px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.01em;
          text-align: left;
          color: #6c5fbc;
          text-decoration: none;
        }
      }

      .LoginFooter {
        display: flex;
        gap: 80px;
      }
    }

    .LoginBrand {
      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 450px;
      background-color: #6c5fbc;
      min-height: 100%;
      padding: 0 60px;

      img {
        max-width: 381px;
      }

      h2 {
        //styleName: Heading/H2;
        font-family: Manrope;
        font-size: 28px;
        font-weight: 800;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: center;

        text-align: center;
        color: #f5f5f5;
      }

      p {
        //styleName: body/medium/medium;
        font-family: Manrope;
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0.14222221076488495px;
        text-align: center;

        color: #f5f5f5;
      }
    }
  }
}
