.Purchases {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  padding: 0 60px;
  .SavingCard {
    img {
      max-width: 534px;
    }
  }
  .PurchasesCards {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;

    h2 {
      font-family: Poppins;
      font-size: 51px;
      font-weight: 700;
      line-height: 68px;
      letter-spacing: 5px;
      text-align: left;

      span {
        font-family: Poppins;
        font-size: 53px;
        font-weight: 700;
        line-height: 61px;
        letter-spacing: 0px;
        text-align: left;
        color: #6c5fbc;
      }
    }
    .PurchasesCard {
      display: flex;
      align-items: end;
      justify-content: space-between;
      gap: 10px;
      padding: 7px 15px;
      background-color: #fff;
      max-width: 345px;
      border-radius: 15px;

      img {
        max-width: 78px;
      }
      h2 {
        font-family: Poppins;
        font-size: 19px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0px;
        text-align: left;
      }

      p {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: left;
      }

      time {
        font-family: Poppins;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Purchases {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 0 50px;
    gap: 30px;
    flex-wrap: wrap;
    .SavingCard {
      img {
        max-width: 379px;
      }
    }
    .PurchasesCards {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      h2 {
        font-family: Poppins;
        font-size: 36px;
        font-weight: 700;
        line-height: 41px;
        letter-spacing: 0px;
        text-align: left;

        span {
          font-family: Poppins;
          font-size: 38px;
          font-weight: 700;
          line-height: 43px;
          letter-spacing: 0px;
          text-align: left;
          color: #6c5fbc;
        }
      }
      .PurchasesCard {
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 5px;
        padding: 7px 15px;
        background-color: #fff;
        max-width: 245px;
        border-radius: 15px;

        img {
          max-width: 53px;
        }
        h2 {
          font-family: Poppins;
          font-size: 12px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0px;
          text-align: start;
        }

        p {
          font-family: Poppins;
          font-size: 9px;
          font-weight: 500;
          line-height: 12px;
          letter-spacing: 0px;
          text-align: left;
        }

        time {
          font-family: Poppins;
          font-size: 9px;
          font-weight: 500;
          line-height: 18px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .Purchases {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 0 40px;
    gap: 30px;
    flex-wrap: wrap;
    .SavingCard {
      img {
        max-width: 316px;
      }
    }
    .PurchasesCards {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      h2 {
        font-family: Poppins;
        font-size: 30px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0px;
        text-align: center;

        span {
          font-family: Poppins;
          font-size: 30px;
          font-weight: 700;
          line-height: 34px;
          letter-spacing: 0px;
          text-align: left;
          color: #6c5fbc;
        }
      }
      .PurchasesCard {
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 5px;
        padding: 7px 15px;
        background-color: #fff;
        max-width: 228px;
        border-radius: 15px;

        img {
          max-width: 51px;
        }
        h2 {
          font-family: Poppins;
          font-size: 13px;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: 0px;
          text-align: left;
        }

        p {
          font-family: Poppins;
          font-size: 8px;
          font-weight: 500;
          line-height: 11px;
          letter-spacing: 0px;
          text-align: left;
        }

        time {
          font-family: Poppins;
          font-size: 9px;
          font-weight: 500;
          line-height: 12px;
          letter-spacing: 0px;
          text-align: left;
          color: #acadb9;
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .Purchases {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 0 40px;
    gap: 30px;
    flex-wrap: wrap;
    .SavingCard {
      img {
        max-width: 316px;
      }
    }
    .PurchasesCards {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      h2 {
        font-family: Poppins;
        font-size: 30px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0px;
        text-align: center;

        span {
          font-family: Poppins;
          font-size: 30px;
          font-weight: 700;
          line-height: 34px;
          letter-spacing: 0px;
          text-align: left;
          color: #6c5fbc;
        }
      }
      .PurchasesCard {
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 5px;
        padding: 7px 15px;
        background-color: #fff;
        max-width: 228px;
        border-radius: 15px;

        img {
          max-width: 51px;
        }
        h2 {
          font-family: Poppins;
          font-size: 13px;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: 0px;
          text-align: left;
        }

        p {
          font-family: Poppins;
          font-size: 8px;
          font-weight: 500;
          line-height: 11px;
          letter-spacing: 0px;
          text-align: left;
        }

        time {
          font-family: Poppins;
          font-size: 9px;
          font-weight: 500;
          line-height: 12px;
          letter-spacing: 0px;
          text-align: left;
          color: #acadb9;
        }
      }
    }
  }
}
